 /* :root {
  --grey-25: #010014FF;
  --grey-50: #2C2B3CFF;
  --grey-100: #49485DFF;
  --grey-200: #6C6A82FF;
  --grey-300: #888798FF;
  --grey-400: #ADACB6FF;
  --grey-500: #C4C6CCFF;
  --grey-600: #E0DFE4FF;
  --grey-700: #F3F3F5FF;
  --grey-800: #F9F9FBFF;
  --grey-900: #FFFFFFFF;
  --blue-25: #00143DFF;
  --blue-50: #052661FF;
  --blue-100: #083F91FF;
  --blue-200: #0F5BBCFF;
  --blue-300: #1D79E3FF;
  --blue-400: #4B99E5FF;
  --blue-500: #6FB7F5FF;
  --blue-600: #9ED2FAFF;
  --blue-700: #D8EFFEFF;
  --blue-800: #EBF7FFFF;
  --blue-900: #FBFDFFFF;
  --purple-main-25: #180048FF;
  --purple-main-50: #240561FF;
  --purple-main-100: #360A91FF;
  --purple-main-200: #490FBEFF;
  --purple-main-300: #5E18E8FF;
  --purple-main-400: #7C42F1FF;
  --purple-main-500: #9C6FF7FF;
  --purple-main-600: #BD9EFBFF;
  --purple-main-700: #DECDFEFF;
  --purple-main-800: #F3EBFFFF;
  --purple-main-900: #FDFAFFFF;
  --deep-red-25: #2F0006FF;
  --deep-red-50: #46030CFF;
  --deep-red-100: #54111AFF;
  --deep-red-200: #621F28FF;
  --deep-red-300: #722F38FF;
  --deep-red-400: #95525BFF;
  --deep-red-500: #B9767FFF;
  --deep-red-600: #DF9CA5FF;
  --deep-red-700: #FFC5CDFF;
  --deep-red-800: #FFE9ECFF;
  --deep-red-900: #FFFAFBFF;
  --green-25: #003D24FF;
  --green-50: #056239FF;
  --green-100: #0D834CFF;
  --green-200: #0FBD67FF;
  --green-300: #30D27BFF;
  --green-400: #4BE68FFF;
  --green-500: #70F6A7FF;
  --green-600: #9FFBC0FF;
  --green-700: #CDFDDDFF;
  --green-800: #EBFFF2FF;
  --green-900: #F9FFF9FF;
  --yellow-25: #461600FF;
  --yellow-50: #612704FF;
  --yellow-100: #904309FF;
  --yellow-200: #BC660FFF;
  --yellow-300: #E98F17FF;
  --yellow-400: #F0B042FF;
  --yellow-500: #F6CC6FFF;
  --yellow-600: #F9E59EFF;
  --yellow-700: #FFF5CDFF;
  --yellow-800: #FFFDEBFF;
  --yellow-900: #FFFEFBFF;
  --purple-support-25: #09093FFF;
  --purple-support-50: #121248FF;
  --purple-support-100: #202056FF;
  --purple-support-200: #2E2E64FF;
  --purple-support-300: #3E3E74FF;
  --purple-support-400: #616197FF;
  --purple-support-500: #8686BCFF;
  --purple-support-600: #ACACE2FF;
  --purple-support-700: #D3D3FFFF;
  --purple-support-800: #EEEEFFFF;
  --purple-support-900: #FBFBFFFF;
  --red-25: #680509FF;
  --red-50: #871621FF;
  --red-100: #B81225FF;
  --red-200: #E6142FFF;
  --red-300: #F6707FFF;
  --red-400: #D68782FF;
  --red-500: #DC93A1FF;
  --red-600: #FA9EA6FF;
  --red-700: #FECDD2FF;
  --red-800: #FFEBEBFF;
  --red-900: #FDFBF9FF;
  --binary-white: #FFFFFFFF;
  --binary-black: #000000FF;
  --deep-yellow-25: #190D00FF;
  --deep-yellow-50: #291500FF;
  --deep-yellow-100: #402000FF;
  --deep-yellow-200: #562C00FF;
  --deep-yellow-300: #683B0DFF;
  --deep-yellow-400: #8B5E30FF;
  --deep-yellow-500: #B08355FF;
  --deep-yellow-600: #D6A97BFF;
  --deep-yellow-700: #FCCFA1FF;
  --deep-yellow-800: #FFECD9FF;
  --deep-yellow-900: #FFFBF6FF;
  --teal-25: #001713FF;
  --teal-50: #00241FFF;
  --teal-100: #003830FF;
  --teal-200: #004B41FF;
  --teal-300: #006356FF;
  --teal-400: #1B8A7BFF;
  --teal-500: #3FAE9FFF;
  --teal-600: #65D4C5FF;
  --teal-700: #8BFAEBFF;
  --teal-800: #CEFFF8FF;
  --teal-900: #F4FFFDFF;
  --grass-green-25: #0E1F00FF;
  --grass-green-50: #162F00FF;
  --grass-green-100: #214600FF;
  --grass-green-200: #2D6000FF;
  --grass-green-300: #3C7708FF;
  --grass-green-400: #5B9627FF;
  --grass-green-500: #7DB849FF;
  --grass-green-600: #9DD869FF;
  --grass-green-700: #BFFA8BFF;
  --grass-green-800: #E3FFCAFF;
  --grass-green-900: #F9FFF3FF;
  --sky-blue-25: #00141CFF;
  --sky-blue-50: #00212EFF;
  --sky-blue-100: #003348FF;
  --sky-blue-200: #004562FF;
  --sky-blue-300: #045A7DFF;
  --sky-blue-400: #277DA0FF;
  --sky-blue-500: #4BA1C4FF;
  --sky-blue-600: #71C7EAFF;
  --sky-blue-700: #ABE7FFFF;
  --sky-blue-800: #DEF6FFFF;
  --sky-blue-900: #F7FDFFFF;
  --neutral-02: #04040CFF;
  --neutral-15: #0E0E19FF;
  --neutral-20: #171726FF;
  --neutral-25: #212131FF;
  --neutral-35: #333343FF;
  --neutral-40: #65657DFF;
  --neutral-50: #818199FF;
  --neutral-80: #DDDDF4FF;
  --neutral-30: #252535FF;
  --neutral-90: #E3E3F7FF;
  --neutral-99: #F7F7FFFF;
  --neutral-100: #FFFFFFFF;
  --neutral-95: #E9E9FBFF;
  --neutral-60: #BDBDD4FF;
  --neutral-70: #D4D4EBFF;
  --neutral-10: #0B0B15FF;
  --neutral-98: #F0F0FEFF;
  --neutral-05: #06060FFF;
  --variants-1: #34343CFF;
  --variants-2: #666672FF;
  --variants-3: #82828EFF;
  --variants-4: #BEBECAFF;
  --variants-5: #D5D5E1FF;
  --variants-6: #DEDEEAFF;
  --states-do-main-opacity-80-light: #0D834CCC;
  --states-do-main-opacity-80-dark: #CDFDDDCC;
  --states-do-main-opacity-48-light: #0D834C7A;
  --states-do-main-opacity-48-dark: #CDFDDD7A;
  --states-do-main-opacity-16-light: #0D834C29;
  --states-do-main-opacity-16-dark: #CDFDDD29;
  --states-do-main-opacity-08-light: #0D834C14;
  --states-do-main-opacity-08-dark: #CDFDDD14;
  --states-do-main-opacity-04-light: #0D834C0A;
  --states-do-main-opacity-04-dark: #CDFDDD0A;
  --states-do-main-opacity-10-light: #0D834C1A;
  --states-do-main-opacity-10-dark: #CDFDDD1A;
  --states-do-main-opacity-00-light: #0D834C00;
  --states-do-main-opacity-00-dark: #CDFDDD00;
  --states-do-main-opacity-64-light: #0D834CA3;
  --states-do-main-opacity-64-dark: #CDFDDDA3;
  --states-do-main-opacity-92-light: #0D834CEB;
  --states-do-main-opacity-92-dark: #CDFDDDEB;
  --states-do-main-opacity-32-light: #0D834C52;
  --states-do-main-opacity-32-dark: #CDFDDD52;
  --states-do-on-main-opacity-00-light: #EBFFF200;
  --states-do-on-main-opacity-00-dark: #003D2400;
  --states-do-on-main-opacity-04-light: #EBFFF20A;
  --states-do-on-main-opacity-04-dark: #003D240A;
  --states-do-on-main-opacity-08-light: #EBFFF214;
  --states-do-on-main-opacity-08-dark: #003D2414;
  --states-do-on-main-opacity-10-light: #EBFFF21A;
  --states-do-on-main-opacity-10-dark: #003D241A;
  --states-do-on-main-opacity-16-light: #EBFFF229;
  --states-do-on-main-opacity-16-dark: #003D2429;
  --states-do-on-main-opacity-32-light: #EBFFF252;
  --states-do-on-main-opacity-32-dark: #003D2452;
  --states-do-on-main-opacity-48-light: #EBFFF27A;
  --states-do-on-main-opacity-48-dark: #003D247A;
  --states-do-on-main-opacity-64-light: #EBFFF2A3;
  --states-do-on-main-opacity-64-dark: #003D24A3;
  --states-do-on-main-opacity-80-light: #EBFFF2CC;
  --states-do-on-main-opacity-80-dark: #003D24CC;
  --states-do-on-main-opacity-92-light: #EBFFF2EB;
  --states-do-on-main-opacity-92-dark: #14121AEB;
  --states-do-main-container-opacity-00-light: #CDFDDD00;
  --states-do-main-container-opacity-00-dark: #0D834C00;
  --states-do-main-container-opacity-04-light: #CDFDDD0A;
  --states-do-main-container-opacity-04-dark: #0D834C0A;
  --states-do-main-container-opacity-08-light: #CDFDDD14;
  --states-do-main-container-opacity-08-dark: #0D834C14;
  --states-do-main-container-opacity-10-light: #CDFDDD1A;
  --states-do-main-container-opacity-10-dark: #0D834C1A;
  --states-do-main-container-opacity-16-light: #CDFDDD29;
  --states-do-main-container-opacity-16-dark: #0D834C29;
  --states-do-main-container-opacity-32-light: #CDFDDD52;
  --states-do-main-container-opacity-32-dark: #0D834C52;
  --states-do-main-container-opacity-48-light: #CDFDDD7A;
  --states-do-main-container-opacity-48-dark: #0D834C7A;
  --states-do-main-container-opacity-64-light: #CDFDDDA3;
  --states-do-main-container-opacity-64-dark: #0D834CA3;
  --states-do-main-container-opacity-80-light: #CDFDDDCC;
  --states-do-main-container-opacity-80-dark: #0D834CCC;
  --states-do-main-container-opacity-92-light: #CDFDDDEB;
  --states-do-main-container-opacity-92-dark: #0D834CEB;
  --states-do-on-main-container-opacity-00-light: #003D2400;
  --states-do-on-main-container-opacity-00-dark: #EBFFF200;
  --states-do-on-main-container-opacity-04-light: #003D240A;
  --states-do-on-main-container-opacity-04-dark: #EBFFF20A;
  --states-do-on-main-container-opacity-08-light: #003D2414;
  --states-do-on-main-container-opacity-08-dark: #EBFFF214;
  --states-do-on-main-container-opacity-10-light: #003D241A;
  --states-do-on-main-container-opacity-10-dark: #EBFFF21A;
  --states-do-on-main-container-opacity-16-light: #003D2429;
  --states-do-on-main-container-opacity-16-dark: #EBFFF229;
  --states-do-on-main-container-opacity-32-light: #003D2452;
  --states-do-on-main-container-opacity-32-dark: #EBFFF252;
  --states-do-on-main-container-opacity-48-light: #003D247A;
  --states-do-on-main-container-opacity-48-dark: #EBFFF27A;
  --states-do-on-main-container-opacity-64-light: #003D24A3;
  --states-do-on-main-container-opacity-64-dark: #EBFFF2A3;
  --states-do-on-main-container-opacity-80-light: #003D24CC;
  --states-do-on-main-container-opacity-80-dark: #EBFFF2CC;
  --states-do-on-main-container-opacity-92-light: #003D24EB;
  --states-do-on-main-container-opacity-92-dark: #EBFFF2EB;
  --states-decide-main-opacity-00-light: #083F9100;
  --states-decide-main-opacity-00-dark: #D8EFFE00;
  --states-decide-on-main-container-opacity-00-light: #00143D00;
  --states-decide-on-main-container-opacity-00-dark: #EBF7FF00;
  --states-decide-on-main-container-opacity-04-light: #00143D0A;
  --states-decide-on-main-container-opacity-04-dark: #EBF7FF0A;
  --states-decide-on-main-container-opacity-08-light: #00143D14;
  --states-decide-on-main-container-opacity-08-dark: #EBF7FF14;
  --states-decide-on-main-container-opacity-10-light: #00143D1A;
  --states-decide-on-main-container-opacity-10-dark: #EBF7FF1A;
  --states-decide-on-main-container-opacity-16-light: #00143D29;
  --states-decide-on-main-container-opacity-16-dark: #EBF7FF29;
  --states-decide-on-main-container-opacity-32-light: #00143D52;
  --states-decide-on-main-container-opacity-32-dark: #EBF7FF52;
  --states-decide-on-main-container-opacity-48-light: #00143D7A;
  --states-decide-on-main-container-opacity-48-dark: #EBF7FF7A;
  --states-decide-on-main-container-opacity-64-light: #00143DA3;
  --states-decide-on-main-container-opacity-64-dark: #EBF7FFA3;
  --states-decide-on-main-container-opacity-80-light: #00143DCC;
  --states-decide-on-main-container-opacity-80-dark: #EBF7FFCC;
  --states-decide-on-main-container-opacity-92-light: #00143DEB;
  --states-decide-on-main-container-opacity-92-dark: #EBF7FFEB;
  --states-decide-on-main-opacity-00-light: #EBF7FF00;
  --states-decide-on-main-opacity-00-dark: #00143D00;
  --states-decide-on-main-opacity-04-light: #EBF7FF0A;
  --states-decide-on-main-opacity-04-dark: #00143D0A;
  --states-decide-on-main-opacity-08-light: #EBF7FF14;
  --states-decide-on-main-opacity-08-dark: #00143D14;
  --states-decide-on-main-opacity-10-light: #EBF7FF1A;
  --states-decide-on-main-opacity-10-dark: #00143D1A;
  --states-decide-on-main-opacity-16-light: #EBF7FF29;
  --states-decide-on-main-opacity-16-dark: #00143D29;
  --states-decide-on-main-opacity-32-light: #EBF7FF52;
  --states-decide-on-main-opacity-32-dark: #00143D52;
  --states-decide-on-main-opacity-48-light: #EBF7FF7A;
  --states-decide-on-main-opacity-48-dark: #00143D7A;
  --states-decide-on-main-opacity-64-light: #EBF7FFA3;
  --states-decide-on-main-opacity-64-dark: #00143DA3;
  --states-decide-on-main-opacity-80-light: #EBF7FFCC;
  --states-decide-on-main-opacity-80-dark: #00143DCC;
  --states-decide-on-main-opacity-92-light: #EBF7FFEB;
  --states-decide-on-main-opacity-92-dark: #00143DEB;
  --states-decide-main-container-opacity-00-light: #D8EFFE00;
  --states-decide-main-container-opacity-00-dark: #083F9100;
  --states-decide-main-container-opacity-04-light: #D8EFFE0A;
  --states-decide-main-container-opacity-04-dark: #083F910A;
  --states-decide-main-container-opacity-08-light: #D8EFFE14;
  --states-decide-main-container-opacity-08-dark: #083F9114;
  --states-decide-main-container-opacity-10-light: #D8EFFE1A;
  --states-decide-main-container-opacity-10-dark: #083F911A;
  --states-decide-main-container-opacity-16-light: #D8EFFE29;
  --states-decide-main-container-opacity-16-dark: #083F9129;
  --states-decide-main-container-opacity-32-light: #D8EFFE52;
  --states-decide-main-container-opacity-32-dark: #083F9152;
  --states-decide-main-container-opacity-48-light: #D8EFFE7A;
  --states-decide-main-container-opacity-48-dark: #083F917A;
  --states-decide-main-container-opacity-64-light: #D8EFFEA3;
  --states-decide-main-container-opacity-64-dark: #083F91A3;
  --states-decide-main-container-opacity-80-light: #D8EFFECC;
  --states-decide-main-container-opacity-80-dark: #083F91CC;
  --states-decide-main-container-opacity-92-light: #D8EFFEEB;
  --states-decide-main-container-opacity-92-dark: #083F91EB;
  --states-decide-main-opacity-04-light: #083F910A;
  --states-decide-main-opacity-04-dark: #D8EFFE0A;
  --states-decide-main-opacity-08-light: #083F9114;
  --states-decide-main-opacity-08-dark: #D8EFFE14;
  --states-decide-main-opacity-10-light: #083F911A;
  --states-decide-main-opacity-10-dark: #D8EFFE1A;
  --states-decide-main-opacity-16-light: #083F9129;
  --states-decide-main-opacity-16-dark: #D8EFFE29;
  --states-decide-main-opacity-32-light: #083F9152;
  --states-decide-main-opacity-32-dark: #D8EFFE52;
  --states-decide-main-opacity-48-light: #083F917A;
  --states-decide-main-opacity-48-dark: #D8EFFE7A;
  --states-decide-main-opacity-64-light: #083F91A3;
  --states-decide-main-opacity-64-dark: #D8EFFEA3;
  --states-decide-main-opacity-80-light: #083F91CC;
  --states-decide-main-opacity-80-dark: #D8EFFECC;
  --states-decide-main-opacity-92-light: #083F91EB;
  --states-decide-main-opacity-92-dark: #D8EFFEEB;
  --states-delegate-main-opacity-00-light: #BC660F00;
  --states-delegate-main-opacity-00-dark: #FFF5CD00;
  --states-delegate-on-main-container-opacity-00-light: #61270400;
  --states-delegate-on-main-container-opacity-00-dark: #FFFDEB00;
  --states-delegate-on-main-container-opacity-04-light: #6127040A;
  --states-delegate-on-main-container-opacity-04-dark: #FFFDEB0A;
  --states-delegate-on-main-container-opacity-08-light: #61270414;
  --states-delegate-on-main-container-opacity-08-dark: #FFFDEB14;
  --states-delegate-on-main-container-opacity-10-light: #6127041A;
  --states-delegate-on-main-container-opacity-10-dark: #FFFDEB1A;
  --states-delegate-on-main-container-opacity-16-light: #61270429;
  --states-delegate-on-main-container-opacity-16-dark: #FFFDEB29;
  --states-delegate-on-main-container-opacity-32-light: #61270452;
  --states-delegate-on-main-container-opacity-32-dark: #FFFDEB52;
  --states-delegate-on-main-container-opacity-48-light: #6127047A;
  --states-delegate-on-main-container-opacity-48-dark: #FFFDEB7A;
  --states-delegate-on-main-container-opacity-64-light: #612704A3;
  --states-delegate-on-main-container-opacity-64-dark: #FFFDEBA3;
  --states-delegate-on-main-container-opacity-80-light: #612704CC;
  --states-delegate-on-main-container-opacity-80-dark: #FFFDEBCC;
  --states-delegate-on-main-container-opacity-92-light: #612704EB;
  --states-delegate-on-main-container-opacity-92-dark: #FFFDEBEB;
  --states-delegate-on-main-opacity-00-light: #FFFDEB00;
  --states-delegate-on-main-opacity-00-dark: #61270400;
  --states-delegate-on-main-opacity-04-light: #FFFDEB0A;
  --states-delegate-on-main-opacity-04-dark: #6127040A;
  --states-delegate-on-main-opacity-08-light: #FFFDEB14;
  --states-delegate-on-main-opacity-08-dark: #61270414;
  --states-delegate-on-main-opacity-10-light: #FFFDEB1A;
  --states-delegate-on-main-opacity-10-dark: #6127041A;
  --states-delegate-on-main-opacity-16-light: #FFFDEB29;
  --states-delegate-on-main-opacity-16-dark: #61270429;
  --states-delegate-on-main-opacity-32-light: #FFFDEB52;
  --states-delegate-on-main-opacity-32-dark: #61270452;
  --states-delegate-on-main-opacity-48-light: #FFFDEB7A;
  --states-delegate-on-main-opacity-48-dark: #6127047A;
  --states-delegate-on-main-opacity-64-light: #FFFDEBA3;
  --states-delegate-on-main-opacity-64-dark: #612704A3;
  --states-delegate-on-main-opacity-80-light: #FFFDEBCC;
  --states-delegate-on-main-opacity-80-dark: #612704CC;
  --states-delegate-on-main-opacity-92-light: #FFFDEBEB;
  --states-delegate-on-main-opacity-92-dark: #612704EB;
  --states-delegate-main-container-opacity-00-light: #FFF5CD00;
  --states-delegate-main-container-opacity-00-dark: #BC660F00;
  --states-delegate-main-container-opacity-04-light: #FFF5CD0A;
  --states-delegate-main-container-opacity-04-dark: #BC660F0A;
  --states-delegate-main-container-opacity-08-light: #FFF5CD14;
  --states-delegate-main-container-opacity-08-dark: #BC660F14;
  --states-delegate-main-container-opacity-10-light: #FFF5CD1A;
  --states-delegate-main-container-opacity-10-dark: #BC660F1A;
  --states-delegate-main-container-opacity-16-light: #FFF5CD29;
  --states-delegate-main-container-opacity-16-dark: #BC660F29;
  --states-delegate-main-container-opacity-32-light: #FFF5CD52;
  --states-delegate-main-container-opacity-32-dark: #BC660F52;
  --states-delegate-main-container-opacity-48-light: #FFF5CD7A;
  --states-delegate-main-container-opacity-48-dark: #BC660F7A;
  --states-delegate-main-container-opacity-64-light: #FFF5CDA3;
  --states-delegate-main-container-opacity-64-dark: #BC660FA3;
  --states-delegate-main-container-opacity-80-light: #FFF5CDCC;
  --states-delegate-main-container-opacity-80-dark: #BC660FCC;
  --states-delegate-main-container-opacity-92-light: #FFF5CDEB;
  --states-delegate-main-container-opacity-92-dark: #BC660FEB;
  --states-delegate-main-opacity-04-light: #BC660F0A;
  --states-delegate-main-opacity-04-dark: #FFF5CD0A;
  --states-delegate-main-opacity-08-light: #BC660F14;
  --states-delegate-main-opacity-08-dark: #FFF5CD14;
  --states-delegate-main-opacity-10-light: #BC660F1A;
  --states-delegate-main-opacity-10-dark: #FFF5CD1A;
  --states-delegate-main-opacity-16-light: #BC660F29;
  --states-delegate-main-opacity-16-dark: #FFF5CD29;
  --states-delegate-main-opacity-32-light: #BC660F52;
  --states-delegate-main-opacity-32-dark: #FFF5CD52;
  --states-delegate-main-opacity-48-light: #BC660F7A;
  --states-delegate-main-opacity-48-dark: #FFF5CD7A;
  --states-delegate-main-opacity-64-light: #BC660FA3;
  --states-delegate-main-opacity-64-dark: #FFF5CDA3;
  --states-delegate-main-opacity-80-light: #BC660FCC;
  --states-delegate-main-opacity-80-dark: #FFF5CDCC;
  --states-delegate-main-opacity-92-light: #BC660FEB;
  --states-delegate-main-opacity-92-dark: #FFF5CDEB;
  --states-do-main-2-opacity-00-light: #0D834C00;
  --states-do-main-2-opacity-00-dark: #CDFDDD00;
  --states-do-main-2-opacity-04-light: #0D834C0A;
  --states-do-main-2-opacity-04-dark: #CDFDDD0A;
  --states-do-main-2-opacity-08-light: #0D834C14;
  --states-do-main-2-opacity-08-dark: #CDFDDD14;
  --states-do-main-2-opacity-10-light: #0D834C1A;
  --states-do-main-2-opacity-10-dark: #CDFDDD1A;
  --states-do-main-2-opacity-16-light: #0D834C29;
  --states-do-main-2-opacity-16-dark: #CDFDDD29;
  --states-do-main-2-opacity-32-light: #0D834C52;
  --states-do-main-2-opacity-32-dark: #CDFDDD52;
  --states-do-main-2-opacity-48-light: #0D834C7A;
  --states-do-main-2-opacity-48-dark: #CDFDDD7A;
  --states-do-main-2-opacity-64-light: #0D834CA3;
  --states-do-main-2-opacity-64-dark: #CDFDDDA3;
  --states-do-main-2-opacity-80-light: #0D834CCC;
  --states-do-main-2-opacity-80-dark: #CDFDDDCC;
  --states-do-main-2-opacity-92-light: #0D834CEB;
  --states-do-main-2-opacity-92-dark: #CDFDDDEB;
  --states-do-on-main-container-2-opacity-00-light: #003D2400;
  --states-do-on-main-container-2-opacity-00-dark: #EBFFF200;
  --states-do-on-main-container-2-opacity-04-light: #003D240A;
  --states-do-on-main-container-2-opacity-04-dark: #EBFFF20A;
  --states-do-on-main-container-2-opacity-08-light: #003D2414;
  --states-do-on-main-container-2-opacity-08-dark: #EBFFF214;
  --states-do-on-main-container-2-opacity-10-light: #003D241A;
  --states-do-on-main-container-2-opacity-10-dark: #EBFFF21A;
  --states-do-on-main-container-2-opacity-16-light: #003D2429;
  --states-do-on-main-container-2-opacity-16-dark: #EBFFF229;
  --states-do-on-main-container-2-opacity-32-light: #003D2452;
  --states-do-on-main-container-2-opacity-32-dark: #EBFFF252;
  --states-do-on-main-container-2-opacity-48-light: #003D247A;
  --states-do-on-main-container-2-opacity-48-dark: #EBFFF27A;
  --states-do-on-main-container-2-opacity-64-light: #003D24A3;
  --states-do-on-main-container-2-opacity-64-dark: #EBFFF2A3;
  --states-do-on-main-container-2-opacity-80-light: #003D24CC;
  --states-do-on-main-container-2-opacity-80-dark: #EBFFF2CC;
  --states-do-on-main-container-2-opacity-92-light: #003D24EB;
  --states-do-on-main-container-2-opacity-92-dark: #EBFFF2EB;
  --states-do-on-main-2-opacity-00-light: #EBFFF200;
  --states-do-on-main-2-opacity-00-dark: #003D2400;
  --states-do-on-main-2-opacity-04-light: #EBFFF20A;
  --states-do-on-main-2-opacity-04-dark: #003D240A;
  --states-do-on-main-2-opacity-08-light: #EBFFF214;
  --states-do-on-main-2-opacity-08-dark: #003D2414;
  --states-do-on-main-2-opacity-10-light: #EBFFF21A;
  --states-do-on-main-2-opacity-10-dark: #003D241A;
  --states-do-on-main-2-opacity-16-light: #EBFFF229;
  --states-do-on-main-2-opacity-16-dark: #003D2429;
  --states-do-on-main-2-opacity-32-light: #EBFFF252;
  --states-do-on-main-2-opacity-32-dark: #003D2452;
  --states-do-on-main-2-opacity-48-light: #EBFFF27A;
  --states-do-on-main-2-opacity-48-dark: #003D247A;
  --states-do-on-main-2-opacity-64-light: #EBFFF2A3;
  --states-do-on-main-2-opacity-64-dark: #003D24A3;
  --states-do-on-main-2-opacity-80-light: #EBFFF2CC;
  --states-do-on-main-2-opacity-80-dark: #003D24CC;
  --states-do-on-main-2-opacity-92-light: #EBFFF2EB;
  --states-do-on-main-2-opacity-92-dark: #14121AEB;
  --states-do-main-container-2-opacity-00-light: #CDFDDD00;
  --states-do-main-container-2-opacity-00-dark: #0D834C00;
  --states-do-main-container-2-opacity-04-light: #CDFDDD0A;
  --states-do-main-container-2-opacity-04-dark: #0D834C0A;
  --states-do-main-container-2-opacity-08-light: #CDFDDD14;
  --states-do-main-container-2-opacity-08-dark: #0D834C14;
  --states-do-main-container-2-opacity-10-light: #CDFDDD1A;
  --states-do-main-container-2-opacity-10-dark: #0D834C1A;
  --states-do-main-container-2-opacity-16-light: #CDFDDD29;
  --states-do-main-container-2-opacity-16-dark: #0D834C29;
  --states-do-main-container-2-opacity-32-light: #CDFDDD52;
  --states-do-main-container-2-opacity-32-dark: #0D834C52;
  --states-do-main-container-2-opacity-48-light: #CDFDDD7A;
  --states-do-main-container-2-opacity-48-dark: #0D834C7A;
  --states-do-main-container-2-opacity-64-light: #CDFDDDA3;
  --states-do-main-container-2-opacity-64-dark: #0D834CA3;
  --states-do-main-container-2-opacity-80-light: #CDFDDDCC;
  --states-do-main-container-2-opacity-80-dark: #0D834CCC;
  --states-do-main-container-2-opacity-92-light: #CDFDDDEB;
  --states-do-main-container-2-opacity-92-dark: #0D834CEB;
  --states-limit-main-opacity-00-light: #621F2800;
  --states-limit-main-opacity-00-dark: #FFC5CD00;
  --states-limit-main-container-opacity-00-light: #FFC5CD00;
  --states-limit-main-container-opacity-00-dark: #621F2800;
  --states-limit-main-container-opacity-04-light: #FFC5CD0A;
  --states-limit-main-container-opacity-04-dark: #621F280A;
  --states-limit-main-container-opacity-08-light: #FFC5CD14;
  --states-limit-main-container-opacity-08-dark: #621F2814;
  --states-limit-main-container-opacity-10-light: #FFC5CD1A;
  --states-limit-main-container-opacity-10-dark: #621F281A;
  --states-limit-main-container-opacity-16-light: #FFC5CD29;
  --states-limit-main-container-opacity-16-dark: #621F2829;
  --states-limit-main-container-opacity-32-light: #FFC5CD52;
  --states-limit-main-container-opacity-32-dark: #621F2852;
  --states-limit-main-container-opacity-48-light: #FFC5CD7A;
  --states-limit-main-container-opacity-48-dark: #621F287A;
  --states-limit-main-container-opacity-64-light: #FFC5CDA3;
  --states-limit-main-container-opacity-64-dark: #621F28A3;
  --states-limit-main-container-opacity-80-light: #FFC5CDCC;
  --states-limit-main-container-opacity-80-dark: #621F28CC;
  --states-limit-main-container-opacity-92-light: #FFC5CDEB;
  --states-limit-main-container-opacity-92-dark: #621F28EB;
  --states-limit-on-main-opacity-00-light: #FFE9EC00;
  --states-limit-on-main-opacity-00-dark: #46030C00;
  --states-limit-main-opacity-04-light: #621F280A;
  --states-limit-main-opacity-04-dark: #FFC5CD0A;
  --states-limit-main-opacity-08-light: #621F2814;
  --states-limit-main-opacity-08-dark: #FFC5CD14;
  --states-limit-main-opacity-10-light: #621F281A;
  --states-limit-main-opacity-10-dark: #FFC5CD1A;
  --states-limit-main-opacity-16-light: #621F2829;
  --states-limit-main-opacity-16-dark: #FFC5CD29;
  --states-limit-main-opacity-32-light: #621F2852;
  --states-limit-main-opacity-32-dark: #FFC5CD52;
  --states-limit-main-opacity-48-light: #621F287A;
  --states-limit-main-opacity-48-dark: #FFC5CD7A;
  --states-limit-main-opacity-64-light: #621F28A3;
  --states-limit-main-opacity-64-dark: #FFC5CDA3;
  --states-limit-main-opacity-80-light: #621F28CC;
  --states-limit-main-opacity-80-dark: #FFC5CDCC;
  --states-limit-main-opacity-92-light: #621F28EB;
  --states-limit-main-opacity-92-dark: #FFC5CDEB;
  --states-later-main-opacity-00-light: #6C6A8200;
  --states-later-main-opacity-00-dark: #F3F3F500;
  --states-later-on-main-container-opacity-00-light: #2C2B3C00;
  --states-later-on-main-container-opacity-00-dark: #F9F9FB00;
  --states-later-on-main-container-opacity-04-light: #2C2B3C0A;
  --states-later-on-main-container-opacity-04-dark: #F9F9FB0A;
  --states-later-on-main-container-opacity-08-light: #2C2B3C14;
  --states-later-on-main-container-opacity-08-dark: #F9F9FB14;
  --states-later-on-main-container-opacity-10-light: #2C2B3C1A;
  --states-later-on-main-container-opacity-10-dark: #F9F9FB1A;
  --states-later-on-main-container-opacity-16-light: #2C2B3C29;
  --states-later-on-main-container-opacity-16-dark: #F9F9FB29;
  --states-later-on-main-container-opacity-32-light: #2C2B3C52;
  --states-later-on-main-container-opacity-32-dark: #F9F9FB52;
  --states-later-on-main-container-opacity-48-light: #2C2B3C7A;
  --states-later-on-main-container-opacity-48-dark: #F9F9FB7A;
  --states-later-on-main-container-opacity-64-light: #2C2B3CA3;
  --states-later-on-main-container-opacity-64-dark: #F9F9FBA3;
  --states-later-on-main-container-opacity-80-light: #2C2B3CCC;
  --states-later-on-main-container-opacity-80-dark: #F9F9FBCC;
  --states-later-on-main-container-opacity-92-light: #2C2B3CEB;
  --states-later-on-main-container-opacity-92-dark: #F9F9FBEB;
  --states-later-on-main-opacity-00-light: #F3F3F500;
  --states-later-on-main-opacity-00-dark: #2C2B3C00;
  --states-later-on-main-opacity-04-light: #F3F3F50A;
  --states-later-on-main-opacity-04-dark: #2C2B3C0A;
  --states-later-on-main-opacity-08-light: #F3F3F514;
  --states-later-on-main-opacity-08-dark: #2C2B3C14;
  --states-later-on-main-opacity-10-light: #F3F3F51A;
  --states-later-on-main-opacity-10-dark: #2C2B3C1A;
  --states-later-on-main-opacity-16-light: #F3F3F529;
  --states-later-on-main-opacity-16-dark: #2C2B3C29;
  --states-later-on-main-opacity-32-light: #F3F3F552;
  --states-later-on-main-opacity-32-dark: #2C2B3C52;
  --states-later-on-main-opacity-48-light: #F3F3F57A;
  --states-later-on-main-opacity-48-dark: #2C2B3C7A;
  --states-later-on-main-opacity-64-light: #F3F3F5A3;
  --states-later-on-main-opacity-64-dark: #2C2B3CA3;
  --states-later-on-main-opacity-80-light: #F3F3F5CC;
  --states-later-on-main-opacity-80-dark: #2C2B3CCC;
  --states-later-on-main-opacity-92-light: #F3F3F5EB;
  --states-later-on-main-opacity-92-dark: #2C2B3CEB;
  --states-later-main-container-opacity-00-light: #E0DFE400;
  --states-later-main-container-opacity-00-dark: #6C6A8200;
  --states-later-main-container-opacity-04-light: #E0DFE40A;
  --states-later-main-container-opacity-04-dark: #6C6A820A;
  --states-later-main-container-opacity-08-light: #E0DFE414;
  --states-later-main-container-opacity-08-dark: #6C6A8214;
  --states-later-main-container-opacity-10-light: #E0DFE41A;
  --states-later-main-container-opacity-10-dark: #6C6A821A;
  --states-later-main-container-opacity-16-light: #E0DFE429;
  --states-later-main-container-opacity-16-dark: #6C6A8229;
  --states-later-main-container-opacity-32-light: #E0DFE452;
  --states-later-main-container-opacity-32-dark: #6C6A8252;
  --states-later-main-container-opacity-48-light: #E0DFE47A;
  --states-later-main-container-opacity-48-dark: #6C6A827A;
  --states-later-main-container-opacity-64-light: #E0DFE4A3;
  --states-later-main-container-opacity-64-dark: #6C6A82A3;
  --states-later-main-container-opacity-80-light: #E0DFE4CC;
  --states-later-main-container-opacity-80-dark: #6C6A82CC;
  --states-later-main-container-opacity-92-light: #E0DFE4EB;
  --states-later-main-container-opacity-92-dark: #6C6A82EB;
  --states-later-main-opacity-04-light: #6C6A820A;
  --states-later-main-opacity-04-dark: #F3F3F50A;
  --states-later-main-opacity-08-light: #6C6A8214;
  --states-later-main-opacity-08-dark: #F3F3F514;
  --states-later-main-opacity-10-light: #6C6A821A;
  --states-later-main-opacity-10-dark: #F3F3F51A;
  --states-later-main-opacity-16-light: #6C6A8229;
  --states-later-main-opacity-16-dark: #F3F3F529;
  --states-later-main-opacity-32-light: #6C6A8252;
  --states-later-main-opacity-32-dark: #F3F3F552;
  --states-later-main-opacity-48-light: #6C6A827A;
  --states-later-main-opacity-48-dark: #F3F3F57A;
  --states-later-main-opacity-64-light: #6C6A82A3;
  --states-later-main-opacity-64-dark: #F3F3F5A3;
  --states-later-main-opacity-80-light: #6C6A82CC;
  --states-later-main-opacity-80-dark: #F3F3F5CC;
  --states-later-main-opacity-92-light: #6C6A82EB;
  --states-later-main-opacity-92-dark: #F3F3F5EB;
  --states-limit-on-main-opacity-64-light: #FFE9ECA3;
  --states-limit-on-main-opacity-64-dark: #46030CA3;
  --states-limit-on-main-opacity-48-light: #FFE9EC7A;
  --states-limit-on-main-opacity-48-dark: #46030C7A;
  --states-limit-on-main-opacity-92-light: #FFE9ECEB;
  --states-limit-on-main-opacity-92-dark: #46030CEB;
  --states-limit-on-main-opacity-32-light: #FFE9EC52;
  --states-limit-on-main-opacity-32-dark: #46030C52;
  --states-limit-on-main-opacity-16-light: #FFE9EC29;
  --states-limit-on-main-opacity-16-dark: #46030C29;
  --states-limit-on-main-opacity-10-light: #FFE9EC1A;
  --states-limit-on-main-opacity-10-dark: #46030C1A;
  --states-limit-on-main-opacity-08-light: #FFE9EC14;
  --states-limit-on-main-opacity-08-dark: #46030C14;
  --states-limit-on-main-opacity-04-light: #FFE9EC0A;
  --states-limit-on-main-opacity-04-dark: #46030C0A;
  --states-limit-on-main-opacity-80-light: #FFE9ECCC;
  --states-limit-on-main-opacity-80-dark: #46030CCC;
  --states-limit-on-main-container-opacity-00-light: #46030C00;
  --states-limit-on-main-container-opacity-00-dark: #FFE9EC00;
  --states-limit-on-main-container-opacity-04-light: #46030C0A;
  --states-limit-on-main-container-opacity-04-dark: #FFE9EC0A;
  --states-limit-on-main-container-opacity-08-light: #46030C14;
  --states-limit-on-main-container-opacity-08-dark: #FFE9EC14;
  --states-limit-on-main-container-opacity-10-light: #46030C1A;
  --states-limit-on-main-container-opacity-10-dark: #FFE9EC1A;
  --states-limit-on-main-container-opacity-16-light: #46030C29;
  --states-limit-on-main-container-opacity-16-dark: #FFE9EC29;
  --states-limit-on-main-container-opacity-32-light: #46030C52;
  --states-limit-on-main-container-opacity-32-dark: #FFE9EC52;
  --states-limit-on-main-container-opacity-48-light: #46030C7A;
  --states-limit-on-main-container-opacity-48-dark: #FFE9EC7A;
  --states-limit-on-main-container-opacity-64-light: #46030CA3;
  --states-limit-on-main-container-opacity-64-dark: #FFE9ECA3;
  --states-limit-on-main-container-opacity-80-light: #46030CCC;
  --states-limit-on-main-container-opacity-80-dark: #FFE9ECCC;
  --states-limit-on-main-container-opacity-92-light: #46030CEB;
  --states-limit-on-main-container-opacity-92-dark: #FFE9ECEB;
  --states-background-bg-opacity-00-light: #F7F7FF00;
  --states-background-bg-opacity-00-dark: #06060F00;
  --states-background-on-bg-opacity-00-light: #0E0E1900;
  --states-background-on-bg-opacity-00-dark: #DDDDF400;
  --states-background-on-bg-opacity-04-light: #0E0E190A;
  --states-background-on-bg-opacity-04-dark: #DDDDF40A;
  --states-background-on-bg-opacity-08-light: #0E0E1914;
  --states-background-on-bg-opacity-08-dark: #DDDDF414;
  --states-background-on-bg-opacity-10-light: #0E0E191A;
  --states-background-on-bg-opacity-10-dark: #DDDDF41A;
  --states-background-on-bg-opacity-16-light: #0E0E1929;
  --states-background-on-bg-opacity-16-dark: #DDDDF429;
  --states-background-on-bg-opacity-32-light: #0E0E1952;
  --states-background-on-bg-opacity-32-dark: #DDDDF452;
  --states-background-on-bg-opacity-48-light: #0E0E197A;
  --states-background-on-bg-opacity-48-dark: #DDDDF47A;
  --states-background-on-bg-opacity-64-light: #0E0E19A3;
  --states-background-on-bg-opacity-64-dark: #DDDDF4A3;
  --states-background-on-bg-opacity-80-light: #0E0E19CC;
  --states-background-on-bg-opacity-80-dark: #DDDDF4CC;
  --states-background-on-bg-opacity-92-light: #0E0E19EB;
  --states-background-on-bg-opacity-92-dark: #DDDDF4EB;
  --states-background-bg-opacity-04-light: #F7F7FF0A;
  --states-background-bg-opacity-04-dark: #06060F0A;
  --states-background-bg-opacity-08-light: #F7F7FF14;
  --states-background-bg-opacity-08-dark: #06060F14;
  --states-background-bg-opacity-10-light: #F7F7FF1A;
  --states-background-bg-opacity-10-dark: #06060F1A;
  --states-background-bg-opacity-16-light: #F7F7FF29;
  --states-background-bg-opacity-16-dark: #06060F29;
  --states-background-bg-opacity-32-light: #F7F7FF52;
  --states-background-bg-opacity-32-dark: #06060F52;
  --states-background-bg-opacity-48-light: #F7F7FF7A;
  --states-background-bg-opacity-48-dark: #06060F7A;
  --states-background-bg-opacity-64-light: #F7F7FFA3;
  --states-background-bg-opacity-64-dark: #06060FA3;
  --states-background-bg-opacity-80-light: #F7F7FFCC;
  --states-background-bg-opacity-80-dark: #06060FCC;
  --states-background-bg-opacity-92-light: #F7F7FFEB;
  --states-background-bg-opacity-92-dark: #06060FEB;
  --states-surface-surface-dim-opacity-00-light: #D4D4EB00;
  --states-surface-surface-dim-opacity-00-dark: #06060F00;
  --states-surface-surface-bright-opacity-00-light: #F7F7FF00;
  --states-surface-surface-bright-opacity-00-dark: #25253500;
  --states-surface-surface-bright-opacity-04-light: #F7F7FF0A;
  --states-surface-surface-bright-opacity-04-dark: #2525350A;
  --states-surface-surface-bright-opacity-08-light: #F7F7FF14;
  --states-surface-surface-bright-opacity-08-dark: #25253514;
  --states-surface-surface-bright-opacity-10-light: #F7F7FF1A;
  --states-surface-surface-bright-opacity-10-dark: #2525351A;
  --states-surface-surface-bright-opacity-16-light: #F7F7FF29;
  --states-surface-surface-bright-opacity-16-dark: #25253529;
  --states-surface-surface-bright-opacity-32-light: #F7F7FF52;
  --states-surface-surface-bright-opacity-32-dark: #25253552;
  --states-surface-surface-bright-opacity-48-light: #F7F7FF7A;
  --states-surface-surface-bright-opacity-48-dark: #2525357A;
  --states-surface-surface-bright-opacity-64-light: #F7F7FFA3;
  --states-surface-surface-bright-opacity-64-dark: #252535A3;
  --states-surface-surface-bright-opacity-80-light: #F7F7FFCC;
  --states-surface-surface-bright-opacity-80-dark: #252535CC;
  --states-surface-surface-bright-opacity-92-light: #F7F7FFEB;
  --states-surface-surface-bright-opacity-92-dark: #252535EB;
  --states-surface-surface-container-lowest-opacity-00-light: #FFFFFF00;
  --states-surface-surface-container-lowest-opacity-00-dark: #04040C00;
  --states-surface-surface-container-low-opacity-00-light: #F0F0FE00;
  --states-surface-surface-container-low-opacity-00-dark: #0B0B1500;
  --states-surface-surface-container-low-opacity-04-light: #F0F0FE0A;
  --states-surface-surface-container-low-opacity-04-dark: #0B0B150A;
  --states-surface-surface-container-low-opacity-08-light: #F0F0FE14;
  --states-surface-surface-container-low-opacity-08-dark: #0B0B1514;
  --states-surface-surface-container-low-opacity-10-light: #F0F0FE1A;
  --states-surface-surface-container-low-opacity-10-dark: #0B0B151A;
  --states-surface-surface-container-low-opacity-16-light: #F0F0FE29;
  --states-surface-surface-container-low-opacity-16-dark: #0B0B1529;
  --states-surface-surface-container-low-opacity-32-light: #F0F0FE52;
  --states-surface-surface-container-low-opacity-32-dark: #0B0B1552;
  --states-surface-surface-container-low-opacity-48-light: #F0F0FE7A;
  --states-surface-surface-container-low-opacity-48-dark: #0B0B157A;
  --states-surface-surface-container-low-opacity-64-light: #F0F0FEA3;
  --states-surface-surface-container-low-opacity-64-dark: #0B0B15A3;
  --states-surface-surface-container-low-opacity-80-light: #F0F0FECC;
  --states-surface-surface-container-low-opacity-80-dark: #0B0B15CC;
  --states-surface-surface-container-low-opacity-92-light: #F0F0FEEB;
  --states-surface-surface-container-low-opacity-92-dark: #0B0B15EB;
  --states-surface-surface-container-lowest-opacity-04-light: #FFFFFF0A;
  --states-surface-surface-container-lowest-opacity-04-dark: #04040C0A;
  --states-surface-surface-container-lowest-opacity-08-light: #FFFFFF14;
  --states-surface-surface-container-lowest-opacity-08-dark: #04040C14;
  --states-surface-surface-container-lowest-opacity-10-light: #FFFFFF1A;
  --states-surface-surface-container-lowest-opacity-10-dark: #04040C1A;
  --states-surface-surface-container-lowest-opacity-16-light: #FFFFFF29;
  --states-surface-surface-container-lowest-opacity-16-dark: #04040C29;
  --states-surface-surface-container-lowest-opacity-32-light: #FFFFFF52;
  --states-surface-surface-container-lowest-opacity-32-dark: #04040C52;
  --states-surface-surface-container-lowest-opacity-48-light: #FFFFFF7A;
  --states-surface-surface-container-lowest-opacity-48-dark: #04040C7A;
  --states-surface-surface-container-lowest-opacity-64-light: #FFFFFFA3;
  --states-surface-surface-container-lowest-opacity-64-dark: #04040CA3;
  --states-surface-surface-container-lowest-opacity-80-light: #FFFFFFCC;
  --states-surface-surface-container-lowest-opacity-80-dark: #04040CCC;
  --states-surface-surface-container-lowest-opacity-92-light: #FFFFFFEB;
  --states-surface-surface-container-lowest-opacity-92-dark: #04040CEB;
  --states-surface-surface-dim-opacity-04-light: #D4D4EB0A;
  --states-surface-surface-dim-opacity-04-dark: #06060F0A;
  --states-surface-surface-dim-opacity-08-light: #D4D4EB14;
  --states-surface-surface-dim-opacity-08-dark: #06060F14;
  --states-surface-surface-dim-opacity-10-light: #D4D4EB1A;
  --states-surface-surface-dim-opacity-10-dark: #06060F1A;
  --states-surface-surface-dim-opacity-16-light: #D4D4EB29;
  --states-surface-surface-dim-opacity-16-dark: #06060F29;
  --states-surface-surface-dim-opacity-32-light: #D4D4EB52;
  --states-surface-surface-dim-opacity-32-dark: #06060F52;
  --states-surface-surface-dim-opacity-48-light: #D4D4EB7A;
  --states-surface-surface-dim-opacity-48-dark: #06060F7A;
  --states-surface-surface-dim-opacity-64-light: #D4D4EBA3;
  --states-surface-surface-dim-opacity-64-dark: #06060FA3;
  --states-surface-surface-dim-opacity-80-light: #D4D4EBCC;
  --states-surface-surface-dim-opacity-80-dark: #06060FCC;
  --states-surface-surface-dim-opacity-92-light: #D4D4EBEB;
  --states-surface-surface-dim-opacity-92-dark: #06060FEB;
  --states-surface-surface-container-high-opacity-00-light: #E3E3F700;
  --states-surface-surface-container-high-opacity-00-dark: #17172600;
  --states-surface-surface-container-high-opacity-04-light: #E3E3F70A;
  --states-surface-surface-container-high-opacity-04-dark: #1717260A;
  --states-surface-surface-container-high-opacity-08-light: #E3E3F714;
  --states-surface-surface-container-high-opacity-08-dark: #17172614;
  --states-surface-surface-container-high-opacity-10-light: #E3E3F71A;
  --states-surface-surface-container-high-opacity-10-dark: #1717261A;
  --states-surface-surface-container-high-opacity-16-light: #E3E3F729;
  --states-surface-surface-container-high-opacity-16-dark: #17172629;
  --states-surface-surface-container-high-opacity-32-light: #E3E3F752;
  --states-surface-surface-container-high-opacity-32-dark: #17172652;
  --states-surface-surface-container-high-opacity-48-light: #E3E3F77A;
  --states-surface-surface-container-high-opacity-48-dark: #1717267A;
  --states-surface-surface-container-high-opacity-64-light: #E3E3F7A3;
  --states-surface-surface-container-high-opacity-64-dark: #171726A3;
  --states-surface-surface-container-high-opacity-80-light: #E3E3F7CC;
  --states-surface-surface-container-high-opacity-80-dark: #171726CC;
  --states-surface-surface-container-high-opacity-92-light: #E3E3F7EB;
  --states-surface-surface-container-high-opacity-92-dark: #171726EB;
  --states-surface-surface-container-highest-opacity-00-light: #DDDDF400;
  --states-surface-surface-container-highest-opacity-00-dark: #21213100;
  --states-surface-surface-container-highest-opacity-04-light: #DDDDF40A;
  --states-surface-surface-container-highest-opacity-04-dark: #2121310A;
  --states-surface-surface-container-highest-opacity-08-light: #DDDDF414;
  --states-surface-surface-container-highest-opacity-08-dark: #21213114;
  --states-surface-surface-container-highest-opacity-10-light: #DDDDF41A;
  --states-surface-surface-container-highest-opacity-10-dark: #2121311A;
  --states-surface-surface-container-highest-opacity-16-light: #DDDDF429;
  --states-surface-surface-container-highest-opacity-16-dark: #21213129;
  --states-surface-surface-container-highest-opacity-32-light: #DDDDF452;
  --states-surface-surface-container-highest-opacity-32-dark: #21213152;
  --states-surface-surface-container-highest-opacity-48-light: #DDDDF47A;
  --states-surface-surface-container-highest-opacity-48-dark: #2121317A;
  --states-surface-surface-container-highest-opacity-64-light: #DDDDF4A3;
  --states-surface-surface-container-highest-opacity-64-dark: #212131A3;
  --states-surface-surface-container-highest-opacity-80-light: #DDDDF4CC;
  --states-surface-surface-container-highest-opacity-80-dark: #212131CC;
  --states-surface-surface-container-highest-opacity-92-light: #DDDDF4EB;
  --states-surface-surface-container-highest-opacity-92-dark: #212131EB;
  --states-surface-surface-container-opacity-00-light: #E9E9FB00;
  --states-surface-surface-container-opacity-00-dark: #0E0E1900;
  --states-surface-surface-container-opacity-04-light: #E9E9FB0A;
  --states-surface-surface-container-opacity-04-dark: #0E0E190A;
  --states-surface-surface-container-opacity-08-light: #E9E9FB14;
  --states-surface-surface-container-opacity-08-dark: #0E0E1914;
  --states-surface-surface-container-opacity-10-light: #E9E9FB1A;
  --states-surface-surface-container-opacity-10-dark: #0E0E191A;
  --states-surface-surface-container-opacity-16-light: #E9E9FB29;
  --states-surface-surface-container-opacity-16-dark: #0E0E1929;
  --states-surface-surface-container-opacity-32-light: #E9E9FB52;
  --states-surface-surface-container-opacity-32-dark: #0E0E1952;
  --states-surface-surface-container-opacity-48-light: #E9E9FB7A;
  --states-surface-surface-container-opacity-48-dark: #0E0E197A;
  --states-surface-surface-container-opacity-64-light: #E9E9FBA3;
  --states-surface-surface-container-opacity-64-dark: #0E0E19A3;
  --states-surface-surface-container-opacity-80-light: #E9E9FBCC;
  --states-surface-surface-container-opacity-80-dark: #0E0E19CC;
  --states-surface-surface-container-opacity-92-light: #E9E9FBEB;
  --states-surface-surface-container-opacity-92-dark: #0E0E19EB;
} */



:root {
  /* DO */
  --color-do00: var(--states-do-main-opacity-00);
  --color-do04: var(--states-do-main-opacity-04);
  --color-do08: var(--states-do-main-opacity-08);
  --color-do10: var(--states-do-main-opacity-10);
  --color-do16: var(--states-do-main-opacity-16);
  --color-do32: var(--states-do-main-opacity-32);
  --color-do48: var(--states-do-main-opacity-48);
  --color-do64: var(--states-do-main-opacity-64);
  --color-do80: var(--states-do-main-opacity-80);
  --color-do92: var(--states-do-main-opacity-92);

  --color-onDo00: var(--states-do-on-main-opacity-00);
  --color-onDo04: var(--states-do-on-main-opacity-04);
  --color-onDo08: var(--states-do-on-main-opacity-08);
  --color-onDo10: var(--states-do-on-main-opacity-10);
  --color-onDo16: var(--states-do-on-main-opacity-16);
  --color-onDo32: var(--states-do-on-main-opacity-32);
  --color-onDo48: var(--states-do-on-main-opacity-48);
  --color-onDo64: var(--states-do-on-main-opacity-64);
  --color-onDo80: var(--states-do-on-main-opacity-80);
  --color-onDo92: var(--states-do-on-main-opacity-92);

  --color-doContainer00: var(--states-do-main-container-opacity-00);
  --color-doContainer04: var(--states-do-main-container-opacity-04);
  --color-doContainer08: var(--states-do-main-container-opacity-08);
  --color-doContainer10: var(--states-do-main-container-opacity-10);
  --color-doContainer16: var(--states-do-main-container-opacity-16);
  --color-doContainer32: var(--states-do-main-container-opacity-32);
  --color-doContainer48: var(--states-do-main-container-opacity-48);
  --color-doContainer64: var(--states-do-main-container-opacity-64);
  --color-doContainer80: var(--states-do-main-container-opacity-80);
  --color-doContainer92: var(--states-do-main-container-opacity-92);

  --color-onDoContainer00: var(--states-do-on-main-container-opacity-00);
  --color-onDoContainer04: var(--states-do-on-main-container-opacity-04);
  --color-onDoContainer08: var(--states-do-on-main-container-opacity-08);
  --color-onDoContainer10: var(--states-do-on-main-container-opacity-10);
  --color-onDoContainer16: var(--states-do-on-main-container-opacity-16);
  --color-onDoContainer32: var(--states-do-on-main-container-opacity-32);
  --color-onDoContainer48: var(--states-do-on-main-container-opacity-48);
  --color-onDoContainer64: var(--states-do-on-main-container-opacity-64);
  --color-onDoContainer80: var(--states-do-on-main-container-opacity-80);
  --color-onDoContainer92: var(--states-do-on-main-container-opacity-92);

  /* DECIDE */
  --color-decide00: var(--states-decide-main-opacity-00);
  --color-decide04: var(--states-decide-main-opacity-04);
  --color-decide08: var(--states-decide-main-opacity-08);
  --color-decide10: var(--states-decide-main-opacity-10);
  --color-decide16: var(--states-decide-main-opacity-16);
  --color-decide32: var(--states-decide-main-opacity-32);
  --color-decide48: var(--states-decide-main-opacity-48);
  --color-decide64: var(--states-decide-main-opacity-64);
  --color-decide80: var(--states-decide-main-opacity-80);
  --color-decide92: var(--states-decide-main-opacity-92);

  --color-onDecide00: var(--states-decide-on-main-opacity-00);
  --color-onDecide04: var(--states-decide-on-main-opacity-04);
  --color-onDecide08: var(--states-decide-on-main-opacity-08);
  --color-onDecide10: var(--states-decide-on-main-opacity-10);
  --color-onDecide16: var(--states-decide-on-main-opacity-16);
  --color-onDecide32: var(--states-decide-on-main-opacity-32);
  --color-onDecide48: var(--states-decide-on-main-opacity-48);
  --color-onDecide64: var(--states-decide-on-main-opacity-64);
  --color-onDecide80: var(--states-decide-on-main-opacity-80);
  --color-onDecide92: var(--states-decide-on-main-opacity-92);

  --color-decideContainer00: var(--states-decide-main-container-opacity-00);
  --color-decideContainer04: var(--states-decide-main-container-opacity-04);
  --color-decideContainer08: var(--states-decide-main-container-opacity-08);
  --color-decideContainer10: var(--states-decide-main-container-opacity-10);
  --color-decideContainer16: var(--states-decide-main-container-opacity-16);
  --color-decideContainer32: var(--states-decide-main-container-opacity-32);
  --color-decideContainer48: var(--states-decide-main-container-opacity-48);
  --color-decideContainer64: var(--states-decide-main-container-opacity-64);
  --color-decideContainer80: var(--states-decide-main-container-opacity-80);
  --color-decideContainer92: var(--states-decide-main-container-opacity-92);

  --color-onDecideContainer00: var(--states-decide-on-main-container-opacity-00);
  --color-onDecideContainer04: var(--states-decide-on-main-container-opacity-04);
  --color-onDecideContainer08: var(--states-decide-on-main-container-opacity-08);
  --color-onDecideContainer10: var(--states-decide-on-main-container-opacity-10);
  --color-onDecideContainer16: var(--states-decide-on-main-container-opacity-16);
  --color-onDecideContainer32: var(--states-decide-on-main-container-opacity-32);
  --color-onDecideContainer48: var(--states-decide-on-main-container-opacity-48);
  --color-onDecideContainer64: var(--states-decide-on-main-container-opacity-64);
  --color-onDecideContainer80: var(--states-decide-on-main-container-opacity-80);
  --color-onDecideContainer92: var(--states-decide-on-main-container-opacity-92);

  /* DELEGATE */
  --color-delegate00: var(--states-delegate-main-opacity-00);
  --color-delegate04: var(--states-delegate-main-opacity-04);
  --color-delegate08: var(--states-delegate-main-opacity-08);
  --color-delegate10: var(--states-delegate-main-opacity-10);
  --color-delegate16: var(--states-delegate-main-opacity-16);
  --color-delegate32: var(--states-delegate-main-opacity-32);
  --color-delegate48: var(--states-delegate-main-opacity-48);
  --color-delegate64: var(--states-delegate-main-opacity-64);
  --color-delegate80: var(--states-delegate-main-opacity-80);
  --color-delegate92: var(--states-delegate-main-opacity-92);

  --color-onDelegate00: var(--states-delegate-on-main-opacity-00);
  --color-onDelegate04: var(--states-delegate-on-main-opacity-04);
  --color-onDelegate08: var(--states-delegate-on-main-opacity-08);
  --color-onDelegate10: var(--states-delegate-on-main-opacity-10);
  --color-onDelegate16: var(--states-delegate-on-main-opacity-16);
  --color-onDelegate32: var(--states-delegate-on-main-opacity-32);
  --color-onDelegate48: var(--states-delegate-on-main-opacity-48);
  --color-onDelegate64: var(--states-delegate-on-main-opacity-64);
  --color-onDelegate80: var(--states-delegate-on-main-opacity-80);
  --color-onDelegate92: var(--states-delegate-on-main-opacity-92);

  --color-delegateContainer00: var(--states-delegate-main-container-opacity-00);
  --color-delegateContainer04: var(--states-delegate-main-container-opacity-04);
  --color-delegateContainer08: var(--states-delegate-main-container-opacity-08);
  --color-delegateContainer10: var(--states-delegate-main-container-opacity-10);
  --color-delegateContainer16: var(--states-delegate-main-container-opacity-16);
  --color-delegateContainer32: var(--states-delegate-main-container-opacity-32);
  --color-delegateContainer48: var(--states-delegate-main-container-opacity-48);
  --color-delegateContainer64: var(--states-delegate-main-container-opacity-64);
  --color-delegateContainer80: var(--states-delegate-main-container-opacity-80);
  --color-delegateContainer92: var(--states-delegate-main-container-opacity-92);

  --color-onDelegateContainer00: var(--states-delegate-on-main-container-opacity-00);
  --color-onDelegateContainer04: var(--states-delegate-on-main-container-opacity-04);
  --color-onDelegateContainer08: var(--states-delegate-on-main-container-opacity-08);
  --color-onDelegateContainer10: var(--states-delegate-on-main-container-opacity-10);
  --color-onDelegateContainer16: var(--states-delegate-on-main-container-opacity-16);
  --color-onDelegateContainer32: var(--states-delegate-on-main-container-opacity-32);
  --color-onDelegateContainer48: var(--states-delegate-on-main-container-opacity-48);
  --color-onDelegateContainer64: var(--states-delegate-on-main-container-opacity-64);
  --color-onDelegateContainer80: var(--states-delegate-on-main-container-opacity-80);
  --color-onDelegateContainer92: var(--states-delegate-on-main-container-opacity-92);

  /* LIMIT */
  --color-limit00: var(--states-limit-main-opacity-00);
  --color-limit04: var(--states-limit-main-opacity-04);
  --color-limit08: var(--states-limit-main-opacity-08);
  --color-limit10: var(--states-limit-main-opacity-10);
  --color-limit16: var(--states-limit-main-opacity-16);
  --color-limit32: var(--states-limit-main-opacity-32);
  --color-limit48: var(--states-limit-main-opacity-48);
  --color-limit64: var(--states-limit-main-opacity-64);
  --color-limit80: var(--states-limit-main-opacity-80);
  --color-limit92: var(--states-limit-main-opacity-92);

  --color-onLimit04: var(--states-limit-on-main-opacity-04);
  --color-onLimit08: var(--states-limit-on-main-opacity-08);
  --color-onLimit10: var(--states-limit-on-main-opacity-10);
  --color-onLimit16: var(--states-limit-on-main-opacity-16);
  --color-onLimit32: var(--states-limit-on-main-opacity-32);
  --color-onLimit48: var(--states-limit-on-main-opacity-48);
  --color-onLimit64: var(--states-limit-on-main-opacity-64);
  --color-onLimit80: var(--states-limit-on-main-opacity-80);
  --color-onLimit92: var(--states-limit-on-main-opacity-92);

  --color-limitContainer00: var(--states-limit-main-container-opacity-00);
  --color-limitContainer04: var(--states-limit-main-container-opacity-04);
  --color-limitContainer08: var(--states-limit-main-container-opacity-08);
  --color-limitContainer10: var(--states-limit-main-container-opacity-10);
  --color-limitContainer16: var(--states-limit-main-container-opacity-16);
  --color-limitContainer32: var(--states-limit-main-container-opacity-32);
  --color-limitContainer48: var(--states-limit-main-container-opacity-48);
  --color-limitContainer64: var(--states-limit-main-container-opacity-64);
  --color-limitContainer80: var(--states-limit-main-container-opacity-80);
  --color-limitContainer92: var(--states-limit-main-container-opacity-92);

  --color-onLimitContainer00: var(--states-limit-on-main-container-opacity-00);
  --color-onLimitContainer04: var(--states-limit-on-main-container-opacity-04);
  --color-onLimitContainer08: var(--states-limit-on-main-container-opacity-08);
  --color-onLimitContainer10: var(--states-limit-on-main-container-opacity-10);
  --color-onLimitContainer16: var(--states-limit-on-main-container-opacity-16);
  --color-onLimitContainer32: var(--states-limit-on-main-container-opacity-32);
  --color-onLimitContainer48: var(--states-limit-on-main-container-opacity-48);
  --color-onLimitContainer64: var(--states-limit-on-main-container-opacity-64);
  --color-onLimitContainer80: var(--states-limit-on-main-container-opacity-80);
  --color-onLimitContainer92: var(--states-limit-on-main-container-opacity-92);

  /* LATER */
  --color-later00: var(--states-later-main-opacity-00);
  --color-later04: var(--states-later-main-opacity-04);
  --color-later08: var(--states-later-main-opacity-08);
  --color-later10: var(--states-later-main-opacity-10);
  --color-later16: var(--states-later-main-opacity-16);
  --color-later32: var(--states-later-main-opacity-32);
  --color-later48: var(--states-later-main-opacity-48);
  --color-later64: var(--states-later-main-opacity-64);
  --color-later80: var(--states-later-main-opacity-80);
  --color-later92: var(--states-later-main-opacity-92);

  --color-onLater00: var(--states-later-on-main-opacity-00);
  --color-onLater04: var(--states-later-on-main-opacity-04);
  --color-onLater08: var(--states-later-on-main-opacity-08);
  --color-onLater10: var(--states-later-on-main-opacity-10);
  --color-onLater16: var(--states-later-on-main-opacity-16);
  --color-onLater32: var(--states-later-on-main-opacity-32);
  --color-onLater48: var(--states-later-on-main-opacity-48);
  --color-onLater64: var(--states-later-on-main-opacity-64);
  --color-onLater80: var(--states-later-on-main-opacity-80);
  --color-onLater92: var(--states-later-on-main-opacity-92);

  --color-laterContainer00: var(--states-later-main-container-opacity-00);
  --color-laterContainer04: var(--states-later-main-container-opacity-04);
  --color-laterContainer08: var(--states-later-main-container-opacity-08);
  --color-laterContainer10: var(--states-later-main-container-opacity-10);
  --color-laterContainer16: var(--states-later-main-container-opacity-16);
  --color-laterContainer32: var(--states-later-main-container-opacity-32);
  --color-laterContainer48: var(--states-later-main-container-opacity-48);
  --color-laterContainer64: var(--states-later-main-container-opacity-64);
  --color-laterContainer80: var(--states-later-main-container-opacity-80);
  --color-laterContainer92: var(--states-later-main-container-opacity-92);

  --color-onLaterContainer00: var(--states-later-on-main-container-opacity-00);
  --color-onLaterContainer04: var(--states-later-on-main-container-opacity-04);
  --color-onLaterContainer08: var(--states-later-on-main-container-opacity-08);
  --color-onLaterContainer10: var(--states-later-on-main-container-opacity-10);
  --color-onLaterContainer16: var(--states-later-on-main-container-opacity-16);
  --color-onLaterContainer32: var(--states-later-on-main-container-opacity-32);
  --color-onLaterContainer48: var(--states-later-on-main-container-opacity-48);
  --color-onLaterContainer64: var(--states-later-on-main-container-opacity-64);
  --color-onLaterContainer80: var(--states-later-on-main-container-opacity-80);
  --color-onLaterContainer92: var(--states-later-on-main-container-opacity-92);

  /* SURFACE (ALL) */
  --color-surfaceContainer00: var(--states-surface-surface-container-opacity-00);
  --color-surfaceContainer04: var(--states-surface-surface-container-opacity-04);
  --color-surfaceContainer08: var(--states-surface-surface-container-opacity-08);
  --color-surfaceContainer10: var(--states-surface-surface-container-opacity-10);
  --color-surfaceContainer16: var(--states-surface-surface-container-opacity-16);
  --color-surfaceContainer32: var(--states-surface-surface-container-opacity-32);
  --color-surfaceContainer48: var(--states-surface-surface-container-opacity-48);
  --color-surfaceContainer64: var(--states-surface-surface-container-opacity-64);
  --color-surfaceContainer80: var(--states-surface-surface-container-opacity-80);
  --color-surfaceContainer92: var(--states-surface-surface-container-opacity-92);

  --color-surfaceContainerLow00: var(--states-surface-surface-container-low-opacity-00);
  --color-surfaceContainerLow04: var(--states-surface-surface-container-low-opacity-04);
  --color-surfaceContainerLow08: var(--states-surface-surface-container-low-opacity-08);
  --color-surfaceContainerLow10: var(--states-surface-surface-container-low-opacity-10);
  --color-surfaceContainerLow16: var(--states-surface-surface-container-low-opacity-16);
  --color-surfaceContainerLow32: var(--states-surface-surface-container-low-opacity-32);
  --color-surfaceContainerLow48: var(--states-surface-surface-container-low-opacity-48);
  --color-surfaceContainerLow64: var(--states-surface-surface-container-low-opacity-64);
  --color-surfaceContainerLow80: var(--states-surface-surface-container-low-opacity-80);
  --color-surfaceContainerLow92: var(--states-surface-surface-container-low-opacity-92);

  --color-surfaceContainerLowest00: var(--states-surface-surface-container-lowest-opacity-00);
  --color-surfaceContainerLowest04: var(--states-surface-surface-container-lowest-opacity-04);
  --color-surfaceContainerLowest08: var(--states-surface-surface-container-lowest-opacity-08);
  --color-surfaceContainerLowest10: var(--states-surface-surface-container-lowest-opacity-10);
  --color-surfaceContainerLowest16: var(--states-surface-surface-container-lowest-opacity-16);
  --color-surfaceContainerLowest32: var(--states-surface-surface-container-lowest-opacity-32);
  --color-surfaceContainerLowest48: var(--states-surface-surface-container-lowest-opacity-48);
  --color-surfaceContainerLowest64: var(--states-surface-surface-container-lowest-opacity-64);
  --color-surfaceContainerLowest80: var(--states-surface-surface-container-lowest-opacity-80);
  --color-surfaceContainerLowest92: var(--states-surface-surface-container-lowest-opacity-92);
}
